* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home-page{
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar{
    width: 25%;
}

.chat-container{
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: cadetblue;
}

.right-sidebar{
    display: flex;
    justify-content: center;
    width: 25%;
    background-color: cornflowerblue;
}