.home{
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr 8fr 1fr;
    height: 100vh;
    background-image: url("../../Asset/signup-image.jpg");
}

.home-page{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: 1fr 4fr 6fr;
    background-color: #222222;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    column-gap: 20px;
}

.sidebar-home, .chat-home, .right-sidebar-home{
    display: flex;
    justify-content: center;
}
