.right-sidebar{
    display: grid;
    grid-template-rows: 1fr 6fr;
    width: 100%;
}

.right-sidebar-search-sub{
    background-color: #0D0D0D;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.right-sidebar-search-icon{
    font-size: 30px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.right-sidebar-search-sub input{
    border-radius: 8px;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 17px;
    margin-left: 10px;
    caret-color: rgb(255, 255, 255);
    cursor: text;
}

input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.right-sidebar-chats{
    background-color: #0D0D0D;
    border-radius: 16px;
    padding: 20px;
}

.right-sidebar-chats-chat {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 10px;
}

.right-sidebar-chats{
    overflow-y: auto;
}

.right-sidebar-chats::-webkit-scrollbar {
    width: 8px;
}

.right-sidebar-chats::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 8px;
}

.right-sidebar-chats::-webkit-scrollbar-thumb {
    background-color: #5d4242;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}

.right-sidebar-chats::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
