.profile{
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr 8fr 1fr;
    height: 100vh;
    background-image: url("../../Asset/signup-image.jpg");
}

.profile-page{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-rows: repeat(5, 1fr);
    background-color: #222222;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    color: white;
}

.profile-page-image, .profile-page-username{
    background-color: rgb(61, 61, 61);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

.profile-page-image input, .profile-page-username input{
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    font-size: 15px;
}

.profile-page-image-update label, .profile-page-username-update label{
    color: white;
    font-size: 20px;
}

.profile-page-update-btn button, .profile-page-delete-btn button{
    color: white;
    font-size: 18px;
    border: none;
    padding: 8px;
    border-radius: 10px;
}

.profile-page-delete-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}