.message{
    display: flex;
    background-color: rgb(61, 61, 61);
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}

.message:hover{
    background-color: #5d4242;
    border-radius: 20px;
}

.message-img-element{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.message-info{
    margin-left: 15px;
}

.message-name{
    color: #FFFFFF;
}

.message-status-online{
    color: green;
    font-size: 10px;
    margin-right: 5px;
}

.message-status-offline{
    color: lightgrey;
    font-size: 10px;
    margin-right: 5px;
}

.message-status span{
    color: #FFFFFF;
}

.selected-message-item{
    background-color: #5d4242;
    border-radius: 20px;
}