.responsive-sidebar-item-1,
.responsive-sidebar-item-2,
.responsive-sidebar-item-3,
.responsive-sidebar-item-4 {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
}

.responsive-sidebar-logout {
    display: grid;
    justify-content: center;
    align-content: center;
}

.responsive-sidebar-item-icon {
    font-size: 30px;
    color: white;
}

@media (max-width: 320px) {
    .responsive-sidebar-profile-img {
        width: 50px;
        height: 50px;
    }

    .responsive-sidebar-item-icon {
        font-size: 22px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .responsive-sidebar-profile-img {
        width: 50px;
        height: 50px;
    }

    .responsive-sidebar-item-icon {
        font-size: 22px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .responsive-sidebar-profile-img {
        width: 50px;
        height: 50px;
    }

    .responsive-sidebar-item-icon {
        font-size: 22px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .responsive-sidebar-profile-img {
        width: 50px;
        height: 50px;
    }

    .responsive-sidebar-item-icon {
        font-size: 22px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .responsive-sidebar-profile-img {
        width: 50px;
        height: 50px;
    }

    .responsive-sidebar-item-icon {
        font-size: 22px;
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {
    .responsive-sidebar-profile-img {
        width: 60px;
        height: 60px;
    }

    .responsive-sidebar-item-icon {
        font-size: 25px;
    }
}