.responsive-sidebar {
    display: grid;
    background-color: rgb(59, 86, 238);
    border-radius: 16px;
}

.responsive-sidebar-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.responsive-sidebar-profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-sidebar-ham {
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-sidebar-profile-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.responsive-sidebar-item-icon {
    color: white;
}

@media (max-width: 320px) {
    .responsive-sidebar-profile-img {
        width: 50px;
        height: 50px;
    }

    .responsive-sidebar-item-icon {
        font-size: 22px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .responsive-sidebar-profile-img {
        width: 50px;
        height: 50px;
    }

    .responsive-sidebar-item-icon {
        font-size: 22px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .responsive-sidebar-profile-img {
        width: 50px;
        height: 50px;
    }

    .responsive-sidebar-item-icon {
        font-size: 22px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .responsive-sidebar-profile-img {
        width: 50px;
        height: 50px;
    }

    .responsive-sidebar-item-icon {
        font-size: 22px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .responsive-sidebar-profile-img {
        width: 50px;
        height: 50px;
    }

    .responsive-sidebar-item-icon {
        font-size: 22px;
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {
    .responsive-sidebar-profile-img {
        width: 60px;
        height: 60px;
    }

    .responsive-sidebar-item-icon {
        font-size: 25px;
    }
}