.side-chat-main{
    display: flex;
    margin-top: 5px;
    margin-bottom: 20px;
}

.side-chat-main img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit:cover;
}

.side-chat-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-chat-status{
    margin-left: 5px;
}

.side-chat-status span{
   font-size: 10px;
}

.green{
    color: green;
    margin-left: 3px;
}

.grey{
    color: grey;
    margin-left: 3px;
}

.grey1 , .green1{
    display: flex;
    justify-content: left;
    align-items: center;
}