.sidebar{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    row-gap: 20px;
    background-color: #1A66FF;
    width: 100%;
    border-radius: 16px;
}

.sidebar-profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-profile-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar-items{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(4, 1fr);
}

.sidebar-item-1, .sidebar-item-2, .sidebar-item-3, .sidebar-item-4{
    display: flex;
    align-items: center;
    width: 100%;    
    padding: 10px 20px;        
    cursor: pointer;
    border-radius: 8px; 
}

.selected-sidebar-item{
    width: 100%;
    background-color: #0046d5;
    color: white; 
}

.sidebar-item-span{
    position: absolute;
    background-color: #FFE81A;
    width: 1em;
    height: 1em;
    margin-left: 3em;
}

.sidebar-logout{
    display: grid;
    justify-content: center;
    align-content: center;
}
