.sidebar-main{
    display: grid;
    grid-template-rows: 10% 10% 75%;
    padding: 15px;
}

.sidebar-logo{
    display: grid;
    grid-template-columns: 15% 30% 55%;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-search{
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;
}

.ellipis{
    display: flex;
    justify-content: right;
}

.sidebar-search-input input{
    border: none;
    outline: none;
    background-color: transparent;
}

.sidebar-list {
  height: 400px; 
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.ellipis{
}