.login-page-container {
    display: grid;
    grid-template-columns: 3fr auto 3fr;
    grid-template-rows: 1fr auto 1fr;
    height: 100vh;
    background-image: url(../../Asset/signup-image.jpg);
    background-size: cover;
}

.login-page {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #222222;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
    row-gap: 30px;
    width: 30vw;
    justify-content: center;
    align-content: start;
}

.login-page-head,
.login-page-email,
.login-page-password,
.login-page-button-element {
    display: flex;
    flex-direction: column;
    color: white;
    width: 25vw;
}

.login-page-not {
    color: white;
    width: 25vw;
    font-size: 18px;
}

.login-page-not-register {
    color: rgb(3, 247, 255);
    margin-left: 5px;
    text-decoration: none;
}

.login-page-email input,
.login-page-password input {
    color: rgb(255, 255, 255);
    border-radius: 6px;
    background-color: #0D0D0D;
    border: none;
    padding: 10px;
    font-size: 20px;
}

.login-page-email label,
.login-page-password label {
    margin-bottom: 5px;
    font-size: 20px;
}

.login-page-head {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 20px;
}

.login-page-button-element {
    background-color: #7b00ff;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

@media (max-width: 320px) {
    .login-page-container {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 3fr auto 3fr;
    }

    .login-page {
        width: 65vw;
        padding: 20px;
        row-gap: 15px;
    }

    .login-page-head,
    .login-page-username,
    .login-page-email,
    .login-page-password,
    .login-page-button-element {
        width: 65vw;
    }

    .login-page-not {
        width: 65vw;
        font-size: 10px;
    }

    .login-page-username label,
    .login-page-email label,
    .login-page-password label {
        font-size: 12px;
    }

    .login-page-username input,
    .login-page-email input,
    .login-page-password input {
        font-size: 12px;
    }

    .login-page-head {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .login-page-button-element {
        font-size: 15px;
        margin-top: 10px;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    .login-page-container {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 3fr auto 3fr;
    }

    .login-page {
        width: 65vw;
        row-gap: 20px;
        padding: 20px;
    }

    .login-page-head,
    .login-page-username,
    .login-page-email,
    .login-page-password,
    .login-page-button-element {
        width: 60vw;
    }

    .login-page-not {
        width: 60vw;
        font-size: 13px;
    }

    .login-page-username label,
    .login-page-email label,
    .login-page-password label {
        font-size: 15px;
    }

    .login-page-username input,
    .login-page-email input,
    .login-page-password input {
        font-size: 15px;
    }

    .login-page-head {
        font-size: 28px;
        text-align: center;
        margin-bottom: 10px;
    }

    .login-page-button-element {
        font-size: 18px;
        margin-top: 10px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .login-page-container {
        grid-template-columns: 1fr auto 1fr;
    }

    .login-page {
        width: 60vw;
        row-gap: 20px;
    }

    .login-page-head,
    .login-page-username,
    .login-page-email,
    .login-page-password,
    .login-page-button-element {
        width: 55vw;
    }

    .login-page-not {
        width: 55vw;
        font-size: 16px;
    }

    .login-page-username label,
    .login-page-email label,
    .login-page-password label {
        font-size: 18px;
    }

    .login-page-username input,
    .login-page-email input,
    .login-page-password input {
        font-size: 18px;
    }

    .login-page-button-element {
        font-size: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .login-page-container {
        grid-template-columns: 1fr auto 1fr;
    }

    .login-page {
        width: 50vw;
    }

    .login-page-head,
    .login-page-username,
    .login-page-email,
    .login-page-password,
    .login-page-button-element {
        width: 45vw;
    }

    .login-page-not {
        width: 45vw;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .login-page-container {
        grid-template-columns: 1fr auto 1fr;
    }

    .login-page {
        width: 40vw;
    }

    .login-page-head,
    .login-page-username,
    .login-page-email,
    .login-page-password,
    .login-page-button-element {
        width: 35vw;
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {
    .login-page-container {
        grid-template-columns: 1fr auto 1fr;
    }

    .login-page {
        width: 30vw;
    }
}

@media (min-width: 1440px) and (max-width: 1920px) {
    .login-page-container {
        grid-template-columns: 1fr auto 1fr;
    }

    .login-page {
        width: 30vw;
    }
}

@media (min-width: 1921px) {}